<!-- BEGIN bottomblock -->
<div class="messageblock">
			<div align="center" class="option"><b>{bottomblock.S_TITLE}</b></div><br />
  		{bottomblock.S_CONTENT}
</div>
<br />  		
<!-- END bottomblock -->
</td></tr></table>
<!-- IF S_RIGHTBLOCKS -->
</td><td class="bg">&nbsp;</td>
<td valign="top" width="194" class="blockright" id="pe601" {B_R_VISIBLE}>
<!-- BEGIN rightblock -->
<table width="194" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="blockright_header">&nbsp;&nbsp;&nbsp;<img alt="Toggle Content" title="Toggle Content" id="pic{rightblock.S_BID}" src="{rightblock.S_IMAGE}" onclick="blockswitch('{rightblock.S_BID}');" style="cursor:pointer" /><font class="block-title">&nbsp;<strong>{rightblock.S_TITLE}</strong></font></td>
	</tr>
	<tr>
  	<td><img src="themes/PH2/images/block_right_shaddow.gif" height="2" alt="" /></td>
  </tr>
  <tr>
		<td class="blockright" id="pe{rightblock.S_BID}" {rightblock.S_VISIBLE}>
    	<table width="100%" border="0" cellpadding="0" cellspacing="0">
    		<tr>
    			<td>
    				<table align="center" width="165" border="0" cellpadding="0" cellspacing="0">
    					<tr>
    						<td class="content">{rightblock.S_CONTENT}</td>
    					</tr>
    				</table>
						<br />
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<!-- END rightblock -->
<!-- ENDIF -->
</td></tr></table>
<table align="center" width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td class="bottomline" align="right"><a href="http://www.pitcher.no" target="_blank"><img src="themes/PH2/images/add.jpg" border="0" alt="" /></a></td>
	</tr>
	<tr>
		<td style="background: #F2F2F2; text-align: center">{S_FOOTER}<br /></td>
	</tr>
</table>
</td></tr></table>
<table width="980" border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td>
			<!-- IF S_DEBUG_SQL --><br /><div class="opentable2">{S_DEBUG_SQL}</div><!-- ENDIF -->
			<!-- IF S_DEBUG_PHP --><br /><div class="opentable2">{S_DEBUG_PHP}</div><!-- ENDIF -->
		</td>
	</tr>
</table>
</body></html>


		