<!-- IF S_NOCOMMENTS -->
<table class="table1"><tr><td align="center">
  <center><font class="content">{S_NOCOMMENTS}</font></center>
</td></tr></table>
<!-- ENDIF -->
<!-- IF S_THRESHOLD -->
<table class="table1"><tr><td align="center">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <!-- IF S_TITLE -->
    <tr><td bgcolor="#D3DFE3" align="center"><font class="content" color="#009900">"{S_TITLE}" | <a href="{U_USER}"><font color="#009900">{S_USER}</font></a> | <b></b>{S_COUNT} {S_COMMENTS}</font></td></tr>
    <!-- ENDIF -->
    <tr><td bgcolor="#ffffff" align="center" width="100%">
      <font class="content">
          <form method="post" action="{U_ARTICLE}" {I18N}>
            <font color="#000000">{S_THRESHOLD}</font>
            {S_SELTHOLD} {S_SELMODE} {S_SELORDER}
            <input type="submit" value="{S_REFRESH}">
          </form>
        <!-- IF S_POSTCOMM -->
        <form action="{U_TOPREPLY}" method="post">{F_NEWSHIDE}
          <input type="submit" value="{S_POSTCOMM}">
        </form>
        <!-- ENDIF -->
      </font>
    </td></tr>
    <tr><td bgcolor="#d3dfe3" align="center"><font class="tiny">{S_COMMWARN}</font></td></tr>
  </table>
</td></tr></table><br />
<!-- ENDIF -->
<!-- IF U_MODERATE -->
<form action="{U_MODERATE}" method="post">
<!-- ENDIF -->

<!-- BEGIN comment -->
<!-- IF comment.IS_NESTED -->
<ul>
<!-- ELSEIF comment.IS_FIRST -->
<table class="table1"><tr><td align="left">
<!-- ENDIF -->

<!-- IF comment.IS_NESTED_END -->
</ul>
<!-- ELSEIF comment.IS_FIRST_END -->
</td></tr></table><br />
<!-- ELSEIF comment.IS_LIST -->
    <li><font class="content"><a href="{comment.U_READCOMM}">{comment.S_READCOMM}</a> {comment.S_BYNAME} {comment.S_ON} {comment.S_DATE}</font><br />
<!-- ELSE -->
  <a name="{comment.I_COMMENTID}"></a>
  <div style="background-color: #EFEFEF; filter:alpha(Opacity=90);">
    <b>{comment.S_SUBJECT}</b> <font class="content">
    <!-- IF comment.I_SCORE -->
    ({comment.S_SCORE} {comment.I_SCORE}
    <!-- IF comment.S_REASON -->
    , {comment.S_REASON}
    <!-- ENDIF -->
    )
    <!-- ENDIF -->
    <!-- IF comment.U_USERINFO -->
    <br />{comment.S_BY} <a href="{comment.U_USERINFO}">{comment.S_NAME}</a> {comment.S_ON} {comment.S_DATE} {comment.S_IP}
    <!-- ELSE -->
    <br /> {comment.S_BYNAME} {comment.S_ON} {comment.S_DATE} {comment.S_IP}
    <!-- ENDIF -->
    </font>
  </div>
    {comment.S_COMMENT}
    <!-- IF comment.U_COMMENTEXT -->
    <br /><br /><b><a href="{comment.U_COMMENTEXT}">{comment.S_COMMENTEXT}</a></b>
    <!-- ENDIF -->
  <br /><br /><div align="right">
  <font class="content">
    <!-- IF comment.U_REPLY -->
    <a href="{comment.U_REPLY}">{comment.S_REPLY}</a>
    <!-- ENDIF -->
  | <a href="{comment.U_PARENT}">{comment.S_PARENT}</a>
    <!-- IF comment.S_MODERATE -->
  | {comment.S_MODERATE}
    <!-- ENDIF -->
    <!-- IF comment.U_DELETE -->
  | <a href="{comment.U_DELETE}">{comment.S_DELETE}</a>
    <!-- ENDIF -->
  </font><br />
  </div>
<!-- ENDIF -->
<!-- END comment -->

<!-- IF U_MODERATE -->
<center>{F_MODHIDE}
<input type="image" src="images/moderate.gif" border="0" name="submit" /></form></center>
<!-- ENDIF -->

