<!-- BEGIN newsempty -->
<div class="table1">
    <div style="text-align:center;"><span class="title">{newsempty.S_SITENAME}</span><br /><br />
    {newsempty.S_NOTOPIC}<br /><br />
    [ <a href="{newsempty.U_NEWSINDEX}">{newsempty.S_GONEWS}</a> | <a href="{newsempty.U_TOPICS}">{newsempty.S_SELECT}</a> ]</div>
</div><br />
<!-- END newsempty -->

<!-- IF B_PAGINATION -->
<table width="100%"><tr>
<!-- IF PAGINATION_PREV --><td class="pagneutral"><a href="{PAGINATION_PREV}" title="{L_PREVIOUS}">&lt;</a></td><!-- ENDIF -->
<td><br /></td>
<!-- BEGIN pagination -->
	<!-- IF pagination.URL -->
	<td class="paginact"><a href="{pagination.URL}">{pagination.PAGE}</a></td>
	<!-- ELSE -->
	<td class="pagact">{pagination.PAGE}</td>
	<!-- ENDIF -->
<!-- END pagination -->
<td><br /></td>
<!-- IF PAGINATION_NEXT -->
<td class="pagneutral"><a href="{PAGINATION_NEXT}" title="{L_NEXT}">&gt;</a></td>
<!-- ENDIF -->
</tr></table>
<!-- ENDIF -->

<!-- BEGIN newscat -->
<div class="table1">
  <div style="text-align:center;"><span class="title">{newscat.S_SITENAME}: {newscat.S_TOPIC_T}</span><br /><br />
  <form action="{newscat.U_SEARCH}" method="post" {I18N}><div>
  <input type="hidden" name="topic" value="{newscat.I_TOPIC}" />
    {newscat.S_SEARCHON}: <input type="name" name="search" size="30" maxlength="255" />&nbsp;&nbsp;
    <input type="submit" value="{newscat.S_SEARCH}" />
  </div></form>
  [ <a href="{newscat.U_HOME}">{newscat.S_GOHOME}</a> | <a href="{newscat.U_TOPICS}">{newscat.S_SELECT}</a> ]</div>
</div><br />
<!-- END newscat -->
<!-- BEGIN newstopic -->
<table width="100%" cellpadding="0" border="0" cellspacing="0">
 <tr>
  <td style="width:15px; height:33px;" class="story-01"></td>
  <td class="story-02">{newstopic.S_TITLE}</td>
  <td style="width:14px; height:33px;" class="story-03"></td>
 </tr>
 <tr>
  <td style="width:15px;" class="story-04"></td>
  <td class="story-05">
   <p>
   <a href="{newstopic.U_NEWTOPIC}"><img src="{newstopic.IMG_TOPIC}" alt="{newstopic.S_TOPIC}" style="padding:0 0 3px 3px; float:right;" /></a>
   {newstopic.S_STORY}
   <!-- IF newstopic.S_NOTES -->
   <br /><b>{newstopic.S_NOTE}</b> <i>{newstopic.S_NOTES}</i>
   <!-- ENDIF -->
   </p>
  </td>
  <td style="width:14px;" class="story-06"></td>
 </tr>
 <tr>
  <td style="width:15px; height:43px;" class="story-07"></td>
  <td class="story-08">
   <div class="readmore">
    <div style="text-align:center;">
    {newstopic.S_POSTEDBY} 
    {newstopic.S_INFORMANT} 
    {newstopic.S_ON} 
    {newstopic.S_TIME} 
    {newstopic.S_READS}
    <br />{newstopic.S_MORELINK}{newstopic.S_COMMLINK}{newstopic.S_PRNTLINK}{newstopic.S_FRNDLINK}{newstopic.S_CATLINK}{newstopic.S_SCORLINK}
    </div>
   </div>
  </td>
  <td style="width:14px; height:43px;" class="story-09"></td>
 </tr>
</table>
<!-- END newstopic -->

<!-- IF B_PAGINATION -->
<!-- INCLUDE pagination.html -->
<!-- ENDIF -->