	<tr>
		<th class="thHead" colspan="3">_(AVATAR_SETTINGS)</th>
	</tr><tr>
		<td class="row1">_(AV_ALLOW_LOCAL)</td>
		<td class="row2" colspan="2">{S_AV_ALLOW_LOCAL}</td>
	</tr><tr>
		<td class="row1">_(AV_ALLOW_REMOTE)<br /><span class="gensmall">_(AV_ALLOW_REMOTE_INFO)</span></td>
		<td class="row2" colspan="2">{S_AV_ALLOW_REMOTE}</td>
	</tr><tr>
		<td class="row1">_(AV_ALLOW_UPLOAD)</td>
		<td class="row2" colspan="2">{S_AV_ALLOW_UPLOAD}</td>
	</tr><tr>
		<td class="row1">_(AV_ALLOW_ANIMATED)</td>
		<td class="row2" colspan="2">{S_AV_ALLOW_ANIMATED}</td>
	</tr><tr>
		<td class="row1">_(AV_MAX_FILESIZE)<br /><span class="gensmall">_(AV_MAX_FILESIZE_INFO)</span></td>
		<td class="row2" colspan="2"><input class="post" type="text" size="7" maxlength="10" name="filesize" value="{S_AV_MAX_FILESIZE}" /> Bytes</td>
	</tr><tr>
		<td class="row1">_(AV_MAX_AVATAR_SIZE)<br /><span class="gensmall">_(AV_MAX_AVATAR_SIZE_INFO)</span></td>
		<td class="row2" colspan="2"><input class="post" type="text" size="4" maxlength="3" name="max_height" value="{S_AV_MAX_HEIGHT}" /> x <input class="post" type="text" size="4" maxlength="3" name="max_width" value="{S_AV_MAX_WIDTH}"></td>
	</tr><tr>
		<td class="row1">_(AV_AVATAR_STORAGE_PATH)<br /><span class="gensmall">_(AV_AVATAR_STORAGE_PATH_INFO)</span></td>
		<td class="row2" colspan="2"><input class="post" type="text" size="20" maxlength="255" name="path" value="{S_AV_STORAGE_PATH}" /></td>
	</tr><tr>
		<td class="row1">_(AV_AVATAR_GALLERY_PATH)<br /><span class="gensmall">_(AV_AVATAR_GALLERY_PATH_INFO)</span></td>
		<td class="row2" colspan="2"><input class="post" type="text" size="20" maxlength="255" name="gallery_path" value="{S_AV_GALLERY_PATH}" /></td>
	</tr><tr>
		<td class="row1">_(AV_DEFAULT)<br /><span class="gensmall">_(AV_DEFAULT_INFO)</span></td>
		<td class="row2" colspan="2"><input class="post" type="text" size="20" maxlength="255" name="default" value="{S_AV_DEFAULT}" /></td>
	</tr>
	<tr><td align="center" colspan="3" class="catbottom">
	<input type="hidden" name="save" value="avatar" />
