<!-- IF DL_SUB -->
<h3><!-- IF DL_ROOT -->Categories<!-- ELSE -->Subcategories<!-- ENDIF --></h3>
<table border="0" cellpadding="5" width="100%"><tr>
<!-- BEGIN dl_cat -->
<!-- IF dl_cat.POS_NEW --><td valign="top"><!-- ENDIF -->
<a class="forumlink" href="{dl_cat.URL}">{dl_cat.TITLE}</a><!-- IF dl_cat.MARK_NEW -->&nbsp;&nbsp;<em>{L_NEW}</em><!-- ENDIF --><!-- IF dl_cat.MARK_UPD -->&nbsp;&nbsp;<em>{L_UPDATED}</em><!-- ENDIF -->
<!-- IF dl_cat.DESC --><br /><span class="genmed"><em>{dl_cat.DESC}</em></span><!-- ENDIF --><!-- IF dl_cat.SUB --><br />{dl_cat.SUB}<!-- ENDIF --><!-- IF dl_cat.POS_BEFORE --></td><!-- ELSE --><br /><br /><!-- ENDIF -->
<!-- END dl_cat -->
</tr></table>
<!-- ENDIF -->

<!-- IF DL_SUBROOT --><br /><!-- ENDIF -->