<!-- BEGIN dl_item -->
<table class="forumline" cellspacing="1" width="100%">
<tr>
  <td class="cat" colspan="3">&nbsp;<a class="cattitle" href="{dl_item.U_INFO}">{dl_item.TITLE}</a></td>
</tr><tr>
  <td class="row1" rowspan="2" align="center" style="width: 100px;">
  <!-- IF dl_item.IMG_SCREEN --><a href="{dl_item.U_INFO}"><img src="{dl_item.IMG_SCREEN}" border="0" alt="" /></a><!-- ELSE --><img src="{dl_item.IMG_MISSING}" alt="{dl_item.L_NOSCREENS}" title="{dl_item.L_NOSCREENS}" /><!-- ENDIF -->
    
  </td>
  <td class="row1" valign="top" style="height: 10px;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td class="gensmall" width="20%"><!-- IF DL_REVIEW_ACTIVE -->{L_RATING}: {dl_item.RATING_IMG}<!-- ENDIF --></td>
        <td class="gensmall" width="20%">{L_POPULARITY}: {dl_item.POP_IMG}</td>
        <td class="gensmall" width="60%">{dl_item.DATE}</td>
      </tr>
    </table>
  </td>
  <td class="row1" rowspan="2" align="center" style="width: 75px;"><a href="{dl_item.U_GET}"><img src="{dl_item.DL_IMG}" alt="{dl_item.DL_IMG_TITLE}" title="{dl_item.DL_IMG_TITLE}" border="0" /></a></td>
</tr><tr>
  <td class="row1" style="vertical-align: top;"><span class="genmed">{dl_item.DESC}</span></td>
</tr><tr>
  <td align="center" class="row2">{dl_item.VERSION}</td>
  <td class="row2" colspan="2">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <!-- IF dl_item.NOT_ACTIVE --><td class="gensmall" width="15%"><span style="color: #ae0000;"><em>{dl_item.NOT_ACTIVE}</em></span></td><!-- ENDIF -->
        <!-- IF dl_item.E_PICK --><td class="gensmall" width="15%"><span style="color: #009933;"><em>{dl_item.E_PICK}</em></span></td><!-- ENDIF -->
        <!-- IF dl_item.SECURE --><td class="gensmall" width="15%"><span style="color: #2f3c75;"><em>{dl_item.SECURE}</em></span></td><!-- ENDIF -->
        <td width="20%">{L_SUBMITTEDBY}: {dl_item.SUBMITTER}</td>
        <td class="gensmall" width="20%"><!-- IF dl_item.U_HOME --><a href="{dl_item.U_HOME}" target="_blank">{L_HOMEPAGE}</a><!-- ELSE -->{L_HOMEPAGE}<!-- ENDIF --></td>
        <td width="30%">
        <!-- IF DL_REVIEW_ACTIVE -->
        <!-- IF dl_item.NO_REVIEWS --><a href="{dl_item.U_WRITE}" class="gensmall">{dl_item.REVIEWS}</a><!-- ELSE --><a href="{dl_item.U_REVIEWS}">{dl_item.REVIEWS}</a><!-- ENDIF -->
        <!-- ENDIF -->
        </td>
      </tr>
    </table>
  </td>
</tr>
</table><br />
<!-- END dl_item -->

<!-- IF NO_DOWNLOADS -->
<div style="background-color: #fee; color: #660000; padding: 3px;">{NO_DOWNLOADS}</div><br />
<!-- ELSEIF DL_PAGINATION -->
<div style="float: left;">{L_PAGE}: {DL_PAGINATION}</div>
<div style="float: right;"><a href="{U_TO_TOP}#top">{L_TO_TOP}</a></div><br />
<!-- ENDIF -->