<div class="table1">
{DL_MENU}<br /><hr /><br />

<!-- IF DL_NO_ITEMS -->
<div style="background-color: #fee; color: #660000; padding: 3px;">{DL_NO_ITEMS}</div><br />
<!-- ELSE -->
<table class="forumline" cellspacing="1" width="100%">
	<tr>
	  <th align="left" colspan="2">&nbsp;Current Downloads&nbsp;</th>
	  <th width="50">&nbsp;Active&nbsp;</th>
	  <th width="50">&nbsp;Views&nbsp;</th>
	  <th width="50">&nbsp;Hits&nbsp;</th>
	  <th width="100">&nbsp;Rating&nbsp;</th>
	  <th width="100">&nbsp;Popularity&nbsp;</th>
	</tr>
<!-- BEGIN dl_item -->
	<tr>
	  <td class="row1" colspan="2">
	    &nbsp;<a class="forumlink" href="{dl_item.U_DETAILS}">{dl_item.TITLE}</a>
	    &nbsp; [ <a href="{dl_item.U_EDIT}">{L_EDIT}</a> ]<br />
	    &nbsp;<strong>{L_CATEGORY}:</strong> {dl_item.CATEGORY}</td>
	  <td align="center" class="row1"><img src="{dl_item.IMG_ACTIVE}" alt="{dl_item.ACTIVE}" title="{dl_item.ACTIVE}" /></td>
	  <td align="center" class="row1"><p class="gensmall">{dl_item.VIEWS}</p></td>
	  <td align="center" class="row1"><p class="gensmall">{dl_item.HITS}</p></td>
	  <td align="center" class="row1">{dl_item.IMG_RATE}</td>
	  <td align="center" class="row1">{dl_item.IMG_POP}</td>
	</tr>
<!-- END dl_item -->
</table>
<!-- IF DL_PAGINATION --><br />Page: {DL_PAGINATION}<!-- ENDIF -->
<!-- ENDIF -->

</div>
