<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{S_TEXTDIR}" xml:lang="{S_LANGCODE}" lang="{S_LANGCODE}">
<head>
<base href="{BASEHREF}" />
<title>L_(Private_Messaging)</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>
<body>
<script type="text/javascript">/*<![CDATA[*/
function jump_to_inbox()
{
    opener.document.location.href = "{U_PRIVATEMSGS}";
    window.close();
}
/*]]>*/</script>
<div>
<p>{L_MESSAGE}</p>
<p><a href="javascript:window.close();" class="genmed">{L_CLOSE_WINDOW}</a></p>
</div>
</body></html>
