<div class="table1"><a id="top"></a>
{DL_MENU}<br /><hr />

<div style="float: left;">{L_SORT}:
<!-- BEGIN dl_sort -->
  {dl_sort.TITLE} {dl_sort.UP} {dl_sort.DOWN} &nbsp;
<!-- END dl_sort -->
</div><div style="float: right;"><a href="{U_RSS}">{L_XML}</a></div><br /><br />
<!-- IF DL_CAT_DESC -->
<span class="genmed"><em>{DL_CAT_DESC}</em></span><br /><br />
<!-- ENDIF -->

<!-- <br /><br /><hr width="15%" align="left" /> -->


<!-- INCLUDE downloads/categories.html -->

<!-- INCLUDE downloads/list_downloads.html -->

</div>