<!-- BEGIN block -->
<table class="block">
  <tr>
    <td class="block"><table class="blockhead">
    <tr>
      <td>
        <div id="blkplusmin"><img alt="{S_TOGGLE}" title="{S_TOGGLE}" id="pic{block.S_BID}" src="{block.S_IMAGE}.gif" onclick="blockswitch('{block.S_BID}');" style="cursor:pointer; float:left;" /></div>
        <span class="boxtitle">{block.S_TITLE}&nbsp;&nbsp;</td><td></td>
    </tr>
    </table></td>
  </tr><tr>
    <td class="block">
      <div id="pe{block.S_BID}" style="display:{block.S_VISIBLE};">
      <table class="blockcontent"><tr><td style="text-align:left">
      {block.S_CONTENT}
      </td></tr></table>
    </div>
    <div id="ph{block.S_BID}" style="display:{block.S_HIDDEN};"> </div>
<br /></td></tr></table>
<!-- END block -->

