<!-- INCLUDE forums/overall_header.html -->
    <!-- $Id: index_body.html,v 1.5 2005/06/30 02:03:34 pitcher Exp $ -->
    <table cellspacing="1" width="100%">
        <tr>
            <td valign="bottom" class="gensmall">
                <!-- IF S_LOGGED_IN -->
                {LAST_VISIT_DATE}<br />
                <!-- ENDIF -->
                {CURRENT_TIME}<br />
                <a href="{U_INDEX}" class="nav">{L_INDEX}</a>
            </td><td align="right" valign="bottom" class="gensmall">
                <!-- IF S_LOGGED_IN -->
                <a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a><br />
                <!-- ENDIF -->
                <a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a><br />
                <a href="{U_MARK_READ}"><strong>{L_MARK_FORUMS_READ}</strong></a></td>
        </tr>
    </table>
    <table class="forumline" cellspacing="1" width="100%">
        <tr>
            <th colspan="2" class="thLeft">&nbsp;{L_FORUM}&nbsp;</th>
            <th width="50" class="thTop">&nbsp;{L_TOPICS}&nbsp;</th>
            <th width="50" class="thTop">&nbsp;{L_POSTS}&nbsp;</th>
            <th class="thRight">&nbsp;{L_LAST_POST}&nbsp;</th>
        </tr>
        <!-- BEGIN forumrow -->
        <!-- IF forumrow.S_IS_CAT -->
        <tr>
            <td class="cat" colspan="2"><a href="{forumrow.U_VIEWCAT}" class="cattitle">{forumrow.CAT_DESC}</a></td>
            <td class="rowpic" colspan="3">&nbsp;</td>
        </tr>
        <!-- ELSEIF forumrow.S_IS_LINK -->
        <tr>
            <td class="row1" width="50" align="center"><img src="{forumrow.FORUM_FOLDER_IMG}" border="0" alt="{forumrow.L_FORUM_FOLDER_ALT}" /></td>
            <td class="row1" colspan="4">
                <a class="forumlink" href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a>
                <div class="forumdesc">{forumrow.FORUM_DESC}</div>
            </td>
        </tr>
        <!-- ELSE -->
        <tr>
            <td class="row1" width="50" align="center"><img src="{forumrow.FORUM_FOLDER_IMG}" border="0" alt="{forumrow.L_FORUM_FOLDER_ALT}" /></td>
            <td class="row1" width="100%" onmouseover="this.className='row3';" onmouseout="this.className='row1';" onclick="window.location='/{forumrow.U_VIEWFORUM}'">
                <a class="forumlink" href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a><br/>
                <div class="forumdesc">{forumrow.FORUM_DESC}</div>
                <!-- IF forumrow.MODERATORS -->
                    <br/><div class="forumdesc"><strong>{forumrow.L_MODERATOR_STR}:</strong> {forumrow.MODERATORS}</div>
                <!-- ENDIF -->
            </td>
            <td class="row2" align="center"><p class="gensmall">{forumrow.TOPICS}</p></td>
            <td class="row2" align="center"><p class="gensmall">{forumrow.POSTS}</p></td>
            <td class="row2" align="center" nowrap="nowrap">
                <!-- IF forumrow.LAST_POST_TIME -->
                    <p class="gensmall">{forumrow.LAST_POST_TIME}</p>
                    <p class="gensmall">
                    <!-- IF forumrow.U_LAST_POSTER -->
                        <a href="{forumrow.U_LAST_POSTER}">{forumrow.LAST_POSTER}</a>
                    <!-- ELSE -->
                        {forumrow.LAST_POSTER}
                    <!-- ENDIF -->
                    <a href="{forumrow.U_LAST_POST}"><img src="{forumrow.LAST_POST_IMG}" border="0" alt="" /></a>
                    </p>
                <!-- ELSE -->
                    <p class="gensmall">{L_NO_POSTS}</p>
                <!-- ENDIF -->
            </td>
        </tr>
        <!-- ENDIF -->
        <!-- BEGINELSE -->
        <tr>
            <td class="row1" colspan="5" align="center"><p class="gensmall">{L_NO_FORUMS}</p></td>
        </tr>
        <!-- END forumrow -->
    </table>

<table width="100%" cellspacing="0" border="0" align="center" cellpadding="2">
  <tr>
    <td align="left"><span class="gensmall"><a href="{U_MARK_READ}" class="gensmall">{L_MARK_FORUMS_READ}</a></span></td>
    <td align="right"><span class="gensmall">{S_TIMEZONE}</span></td>
  </tr>
</table>

    <br clear="all" />

    <table align="center">
        <tr>
            <td width="20" align="center"><img src="{FORUM_NEW_IMG}" border="0" alt="" /></td>
            <td><span class="gensmall">{L_NEW_POSTS}</span></td>
            <td>&nbsp;&nbsp;</td>
            <td width="20" align="center"><img src="{FORUM_IMG}" border="0" alt="" /></td>
            <td><span class="gensmall">{L_NO_NEW_POSTS}</span></td>
            <td>&nbsp;&nbsp;</td>
            <td width="20" align="center"><img src="{FORUM_LOCKED_IMG}" border="0" alt=""/></td>
            <td><span class="gensmall">{L_FORUM_LOCKED}</span></td>
        </tr>
    </table>
<!-- INCLUDE forums/overall_footer.html -->
