/* CSS layout */
body {
	margin: 10px;
	padding: 10px;
	background-color: #3535FF;
}

#wrapper {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
}

#header {
	text-align:center;
}

#progressbar {
	margin:5px;
	padding:5px;
}

#container {
	min-width: 600px;
}

#left_col {
	width: 200px;
	float: left;
}

#left_col_top {
	margin:10px;
	padding:10px;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: small;
}

#left_col_bottom {
	margin:10px;
	padding:10px;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: small;
}

#right_col {
	width: 200px;
	float: right;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: small;
}

#right_col_top {
	margin:10px;
	padding:10px;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: small;
}

#right_col_bottom {
	margin:10px;
	padding:10px;
}

#page_content {
	text-align:center;
	margin:5px;
	padding:5px;
	margin-left: 200px;
	margin-right: 200px;
}

#footer {
	text-align:center;
	margin:5px;
	padding:5px;
	clear: both;
	font-size: x-small;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}