/* CSS layout */
body {
	margin: 0;
	padding: 0;
}

#masthead {
	text-align: center;
}

#progressbar {
	text-align: center;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: small;
}

#container {
	min-width: 800px;
}

#left_col1 {
	width: 300px;
	float: left;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: small;
}

#right_col1 {
	width: 300px;
	float: right;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: small;
}

#left_col2 {
	width: 300px;
	float: left;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: small;
}

#right_col2 {
	width: 300px;
	float: right;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: small;
}

#page_content {
	margin-left: 300px;
	margin-right: 300px;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: small;
	text-align: center;
}

#footer {
	clear: both;
	text-align: center;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: x-small;
}