<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
	  	<table width="100%" border="0" cellspacing="0" cellpadding="1">
				<tr>
					<td bgcolor="#3B6690">
						<table width="100%" border="0" cellspacing="0" cellpadding="4">
							<tr>
								<td width="100%" class="newsbar_top">
									&nbsp;<font class="storytitle"><strong>{S_TITLE}</strong></font>
								</td>
							</tr>
							<tr>
								<td bgcolor="#F2F1ED">
									<a href="{U_NEWTOPIC}"><img src="{IMG_TOPIC}" border="0" alt="{S_TOPIC}" title="{S_TOPIC}" align="right" hspace="10" vspace="10" /></a>
									{S_STORY}
									<!-- IF S_STORYEXT -->
  								<br /><br />
  								{S_STORYEXT}
  								<!-- ENDIF -->
								  <!-- IF S_NOTES -->
  								<br /><br />
  								<b>{S_NOTE}</b> {S_NOTES}
  								<!-- ENDIF -->
								</td>
							</tr>
							<tr>
								<td class="newsbar_bottom" align="center">
									<font class="content">{S_POSTEDBY} {S_INFORMANT} {S_TIME}
									<!-- IF S_ADMIN -->
  								<br />[ {S_ADMIN} ]
  								<!-- ENDIF -->
  								</font>
								</td>
							</tr>								
					  </table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br />
<!-- IF S_ASSOTOPICS -->
<div class="opentable1" align="center"><b>{S_ASSOTOPIC}</b><br /><br />{S_ASSOTOPICS}</div><br />
<!-- ENDIF -->

